<div style="background-color: beige; padding: 18px;">
    Here is my post creation form
    <form action="/post" method="POST">
        <input name="postBody" type="text" placeholder="Enter post">
        <button type="submit">Create Post</button>
    </form>
</div>